body {
  background-color: #170a48;
  color : white;
}

.message{
  color : white;
  font-size: 24px;
  margin-bottom: 50px;
}

.centrer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}


.table{
  margin-bottom: 1rem;
background-color: transparent;

}
